body {
	background-color: #6C7A89;
}

.titulo {
	color: #F9BF3B;
	font-family: sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px #cc33cc;
}

#adiciona,
#botaoTotal,
#botaoSalva,
#botaoBusca,
.campo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#adiciona,
#botaoTotal,
#botaoSalva,
#botaoBusca {
	border: none;
	background-color: #F9690E;
	padding: 10px;
}

#adiciona:hover {
	background-color: #F5AB35;
}